<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Details</h2>
      <br>
      <br> ID: <%=  section._id %>
      <br> Section Number: <%=section.sectionNum%>
      <br> Days: <%=section.days%>
      <br> Start Time: <%=section.startTime%>
      <br> Location: <%=section.location %>
      <br> Instructor: <%=section.instructor %>
      <br> Course ID: <%=section.courseID %>
      <hr>

      <form method="get" action="/section">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>