<br>
<br>
<div class="container-fluid">
    <div class=row>
        <div class="col col-md-12">
            <a href="section/create" class="btn btn-primary new">
                Create a new section
            </a>

            <h2>Recent entries</h2>
            <p>There are
                <%= section.length %> sections.
                <br>
            </p>
            <% for (let i = section.length-1; i >= 0; i--) {   
        sections = section[i];   %>

            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="text-muted pull-right"></div>
                <div class="panel-body">

                    <br> ID: <%=  sections._id %>
                    <br> Section Number: <%=sections.sectionNum%>
                    <br> Days: <%=sections.days%>
                    <br> Start Time: <%=sections.startTime%>
                    <br> Location: <%=sections.location %>
                    <br> Instructor: <%=sections.instructor %>
                    <br> Course ID: <%=sections.courseID %>

                    <hr>
                    <a href="/section/delete/<%= sections._id  %>" class="btn btn-danger"> Delete </a>
                    <a href="/section/details/<%= sections._id %>" class="btn btn-info"> Details </a>
                    <a href="/section/edit/<%= sections._id %>" class="btn btn-primary"> Edit </a>
                    <hr>
                    <hr>
                </div>
            </div>
            <% } %>

        </div>
    </div>
</div>