<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Details</h2>
      <br>
      <br> ID: <%=  developer._id %>
      <br> Email: <%=developer.email%>
      <br> Given: <%=developer.given%>
      <br> Family: <%=developer.family%>
      <br> City: <%=developer.city %>
      <br> State: <%=developer.state %>
      <br> Zip: <%=developer.zip %>
      <br> Country: <%=developer.country %>
      <hr>

      <form method="get" action="/developer">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>