<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="instructor/create" class="btn btn-primary new">
        Create a new instructor
      </a>

      <h2>Recent entries</h2>
      <p>There are
        <%= instructor.length %> instructors.
        <br>
      </p>
      <% for (let i = instructor.length-1; i >= 0; i--) {   
        instructors = instructor[i];   %>

      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">

            <br> ID: <%=  instructors._id %>
            <br> Given: <%=instructors.given%>
            <br> Family: <%=instructors.family%>
            <br> Email: <%=instructors.email%>
            <br> Salary: <%=instructors.salary %>
            <br> GitHub: <%=instructors.gitHub %>

          <hr>
          <a href="/instructor/delete/<%= instructors._id  %>" class="btn btn-danger"> Delete </a>
          <a href="/instructor/details/<%= instructors._id %>" class="btn btn-info"> Details </a>
          <a href="/instructor/edit/<%= instructors._id %>" class="btn btn-primary"> Edit </a>
          <hr>
          <hr>
        </div>
      </div>
      <% } %>

    </div>
  </div>
</div>