<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Details</h2>
      <br>
      <br> ID: <%=  student._id %>
      <br> Given: <%=student.given%>
      <br> Family: <%=student.family%>
      <br> Email: <%=student.email%>
      <br> GPA: <%=student.gpa %>
      <br> GitHub: <%=student.gitHub %>
      <br> Website: <%=student.website %>
      <br> Section ID: <%=student.sectionID %>
      <hr>

      <form method="get" action="/section">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>