<!-- main - a row holds columns -->
<div class=row>
    <div class="col col-xs-12">
  
      <div class="form-group">
        <label for="given">Given Name</label>
        <input type="text" class="form-control" id="given" name="given" value="<%= student.given %>" required>
      </div>
  
      <div class="form-group">
        <label for="family">Family Name</label>
        <input type="text" class="form-control" id="family" name="family" value="<%= student.family %>">
      </div>
  
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="<%= student.email %>">
      </div>
  
      <div class="form-group">
        <label for="gpa">GPA</label>
        <input type="number" class="form-control" id="gpa" name="gpa" value="<%= student.gpa %>">
      </div>
  
      <div class="form-group">
        <label for="gitHub">GitHub</label>
        <input type="text" class="form-control" id="gitHub" name="gitHub" value="<%= student.gitHub %>">
      </div>

      <div class="form-group">
        <label for="website">Website</label>
        <input type="text" class="form-control" id="website" name="website" value="<%= student.website %>">
      </div>

      <div class="form-group">
        <label for="sectionID">Section ID</label>
        <input type="number" class="form-control" id="sectionID" name="sectionID" value="<%= student.sectionID %>">
      </div>
    </div>
  </div>
  
  <!-- PUT CLIENT SIDE CODE HERE -->
  <script>
   
    // prevent submission when hitting enter key - optional, but user-friendly 
    document.forms[0].onkeypress = function (e) {
      var key = e.charCode || e.keyCode || 0;
      if (key == 13) {
        e.preventDefault();
      }
    }
  
  // END CLIENT SIDE CODE  (close the script tag)
  </script>