<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of course</h2>
      <br>
      <br> ID: <%=  course._id %>
      <br> Course Number: <%=course.courseNum%>
      <br> Course Name: <%=course.courseName%>
      <br> Department: <%=course.department%>
      <br> Instructor: <%=course.instructor%>
      <br> Seats: <%=course.seats %>
      <br> Location: <%=course.location %>
      <hr>
      
      <form method="get" action="/course">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>


      <form method="POST" action="/course/delete/<%= course._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>