<!-- main - a row holds columns -->
<div class=row>
    <div class="col col-xs-12">
  
      <div class="form-group">
        <label for="courseNum">Course Number</label>
        <input type="number" class="form-control" id="courseNum" name="courseNum" value="<%= course.courseNum %>" required>
      </div>
  
      <div class="form-group">
        <label for="courseName">Course Name</label>
        <input type="text" class="form-control" id="courseName" name="courseName" value="<%= course.courseName %>">
      </div>
  
      <div class="form-group">
        <label for="department">Department</label>
        <input type="text" class="form-control" id="department" name="department" value="<%= course.department %>">
      </div>
  
      <div class="form-group">
        <label for="instructor">Instructor</label>
        <input type="text" class="form-control" id="instructor" name="instructor" value="<%= course.instructor %>">
      </div>
  
      <div class="form-group">
        <label for="seats">Seats </label>
        <input type="number" class="form-control" id="seats" name="seats" value="<%= course.seats %>">
      </div>
  
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" class="form-control" id="location" name="location" value="<%= course.location %>">
      </div>
    </div>
  </div>
  
  <!-- PUT CLIENT SIDE CODE HERE -->
  <script>
   
    // prevent submission when hitting enter key - optional, but user-friendly 
    document.forms[0].onkeypress = function (e) {
      var key = e.charCode || e.keyCode || 0;
      if (key == 13) {
        e.preventDefault();
      }
    }
  
  // END CLIENT SIDE CODE  (close the script tag)
  </script>